 /*background*/
      .bg-pink{
        background-color: #e95298 ;
      }
      /*Text color*/
      .text-pink {
        color: #e95298 !important;
      }
      /*input Focus*/
     .form-control:focus {
      border-color: #ffffff; 
      -webkit-box-shadow: none; 
      box-shadow: none;
    } 
    /*Carousel*/
    .carousel-item {
      height: 50vh;
      min-height: 350px;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    /*background*/
    header {
      position: relative;
      background-color: black;
      height: 75vh;
      min-height: 25rem;
      width: 100%;
      overflow: hidden;
    }

    header video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: 0;
      -ms-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }

    header .container {
      position: relative;
      z-index: 2;
    }

    header .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: black;
      opacity: 0.1;
      z-index: 1;
    }
    /*Button */
    .btn-gray {
      color: #fff;
      background-color: #bcbcbc;
      border-color: #bcbcbc;
      box-shadow: none; }
      .btn-gray:hover {
        color: #fff;
        background-color: #e5e5e5;
        border-color: #eae8e8; }
      .btn-gray:focus, .btn-gray.focus {
        box-shadow: none, 0 0 0 0.2rem rgba(255, 87, 34, 0.5); }
      .btn-gray.disabled, .btn-gray:disabled {
        color: #fff;
        background-color: #bcbcbc;
        border-color: #bcbcbc; }
      .btn-gray:not(:disabled):not(.disabled):active, .btn-gray:not(:disabled):not(.disabled).active,
      .show > .btn-gray.dropdown-toggle {
        color: #fff;
        background-color: #eae8e8;
        border-color: #eae8e8; }
        .btn-gray:not(:disabled):not(.disabled):active:focus, .btn-gray:not(:disabled):not(.disabled).active:focus,
        .show > .btn-gray.dropdown-toggle:focus {
          box-shadow: none, 0 0 0 0.2rem rgba(255, 87, 34, 0.5); }
        
        /*Scroll*/
          #return-to-top {
          position: fixed;
          bottom: 20px;
          right: 20px;
          background: rgb(0, 0, 0);
          background: rgba(0, 0, 0, 0.7);
          width: 50px;
          height: 50px;
          display: block;
          text-decoration: none;
          -webkit-border-radius: 35px;
          -moz-border-radius: 35px;
          border-radius: 35px;
          display: none;
          -webkit-transition: all 0.3s linear;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
      }
      #return-to-top i {
          color: #fff;
          margin: 0;
          position: relative;
          left: 16px;
          top: 13px;
          font-size: 19px;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
      }
      #return-to-top:hover {
          background: rgba(0, 0, 0, 0.9);
      }
      #return-to-top:hover i {
          color: #fff;
          top: 5px;
      }
